<%- include('./partials/header.ejs') %>
<link rel="stylesheet" href="../stylesheets/style.css">

    <h1 class="titulo-2">Editar colaborador</h1>
    <form action="/editar/<%=colaborador.id%>" method="POST" id="formulario">
        <div>
            <label for="">Nombre</label>
            <input type="text" name="nombre" value="<%=colaborador.nombre%>" id="nombre">
            <a id="errorTitulo" class="feedback"></a>
        </div> 
        <div>
            <label for="">Equipo</label>
            <input type="text" name="equipo" value="<%=colaborador.equipo%>" id="equipo">
            <a id="errorPremios" class="feedback"></a>
        </div>
        <div>
            <label for="">Versión Win | Os</label>
            <input type="text" name="version_win_os" value="<%=colaborador.version_win_os%>" id="version_win_os">
            <a id="errorDuracion" class="feedback"></a>
        </div>
        <div>
            <label for="">Bitlocker | Filevault</label>
            <input type="text" name="bitlocker_filevault" value="<%=colaborador.bitlocker_filevault%>" id="bitlocker_filevault">
            <a id="errorRating" class="feedback"></a>
        </div>
        <div>
            <label for="">Firewall</label>
            <input type="text" name="firewall" value="<%=colaborador.firewall%>" id="firewall">
        </div>
        <div>
        <button type="submit">Editar!</button>
        </div>
    </form>

<%- include('./partials/footer.ejs') %>