<%- include('./partials/header.ejs') %>
<section class="container d-flex justify-content-center">
    <div class="row shadow p-3 my-auto bg-dark rounded">
        <div class="div-img">
        <h1 class="text-white">Editar Colaborador</h1>
        <form action="/editar/<%=colaborador.id%>" method="POST" id="formulario">
            <div class="mb-3">
                <label class="form-laber" for=""></label>
                <input type="text" name="nombre" id="nombre" value="<%=colaborador.nombre%>" class="form-control">
                <a id="errorTitulo" class="feedback"></a>
            </div> 
            <div class="mb-3">
                <label for=""></label>
                <input type="text" name="equipo" id="equipo" value="<%=colaborador.equipo%>" class="form-control">
                <a id="errorPremios" class="feedback"></a>
            </div>
            <div class="mb-3">
                <label class="form-laber" for=""></label>
                <input type="text" name="version_win_os" id="version_win_os" value="<%=colaborador.version_win_os%>" class="form-control">
                <a id="errorDuracion" class="feedback"></a>
            </div>
            <div class="mb-3">
                <label class="form-laber" for=""></label>
                <input type="text" name="bitlocker_filevault" id="bitlocker_filevault" value="<%=colaborador.bitlocker_filevault%>" class="form-control">
                <a id="errorRating" class="feedback"></a>
            </div>
            <div class="mb-3">
                <label class="form-laber" for=""></label>
                <input type="text" name="firewall" id="firewall" value="<%=colaborador.firewall%>" class="form-control">
                <a id="errorFecha" class="feedback"></a>
            </div>
            <div class="mb-3 d-flex justify-content-center mt-4">
            <button type="submit" class='btn btn-success'>EDITAR!</button>
            </div>
        </form>
        </div>
    </div>
</section>


<%- include('./partials/footer.ejs') %>