<%- include('./partials/header.ejs') %>
<script defer src="/scripts/scripts.js"></script>
    <div class="container">
        <h2 class="h2 p-2 bg-secondary shadow p-3 mb-5 rounded">Colaboradores</h2>
    </div>    
      <div class="container">
      <form action="/buscar" method="get" id="search">
        <input type="text" name="q" id="searchInput" placeholder="Buscar..." list="listProducts" autocomplete="off">
        <nav id="listProducts">

        </nav>
        <label for="q"><i class="fa-solid fa-search"></i></label>
    </form>
    </div>
<div class="container shadow p-2 mb-2 bg-body-tertiary rounded">    
<table class="table table-bordered table-light table-striped text-center table-bg-scale: 80% mt-4">
<thead class="table-dark">
    <tr class="bg-primary text-white">
        <th scope="col">ID</th>
        <th scope="col">NOMBRE</th>
        <th scope="col">EQUIPO</th>
        <th scope="col">VERSION WIN|OS</th>
        <th scope="col">BITLOCKER|FILEVAULT</th>
        <th scope="col">FIREWALL</th>
    <% if (locals.user) { %>
        <% if (user.rol == 1) { %>
            <th scope="col">ACCIONES</th>
    <% } %>
        <% } %>
    </tr>
</thead>
<tbody>
    <% colaboradores.forEach((colaboradores) => { %>
    <tr>
        <td><%=colaboradores.id%></td>
        <td><%=colaboradores.nombre%></td>
        <td><%=colaboradores.equipo%></td>
        <td><%=colaboradores.version_win_os%></td>
        <td><%=colaboradores.bitlocker_filevault%></td>
        <td><%=colaboradores.firewall%></td>
            <% if (locals.user) { %>
                <% if (user.rol == 1) { %>
        <td>        
                    <a href="/editar/<%=colaboradores.id%>">
                            <button class="btn btn-outline-success btn-sm">Editar</button> 
                    </a>  
                    <form action="/borrar/<%=colaboradores.id%>" method="POST" style="margin: auto;";">
                            <button type="submit" class="btn btn-outline-danger btn-sm">Borrar</button>
                    </form>
        </td>
                <% } %>
            <% } %>
    </tr>
    <% }) %>
</tbody>
</table>
</div>
<%- include('./partials/footer') %>